body{
  font-family: 'Lora';
  background: linear-gradient(rgba(45, 1, 67, 0.65), rgba(0,0,0, 0.65)), url("./img/background stars.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.animationcont{
  display: flex;
  align-content: flex-end;
  height: 100vh;
  width: 100%;
  
}

.circle img {    
    border-radius: 50%;
    height: 150em;
	
}
.circle {
  display: flex;
  animation: xAxis 200s infinite; 
  
}

.moon{
  align-self: flex-end;
   animation: yAxis 200s infinite;
}
/* BACKGROUND ANIMATION */
@keyframes xAxis {
   0% { 
    animation-timing-function: ease-in;
    transform: translatex(-150em);
   }
  100%{
    transform: translatex(350em);
  }
}

@keyframes yAxis {
  0% { 
    animation-timing-function: ease-in-out;
    transform: translateY(150em); 
   }
  100% {
    animation-timing-function: ease-in-out;
    transform: translateY(20em); 
  }
}